# 1. Data Loading and Joining

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the sales_train.csv and save as df_train
df_train = pd.read_csv('../data/raw/sales_train.csv')

In [3]:
# Load the sales_test.csv and save as df_test
# df_test = pd.read_csv('../data/raw/sales_test.csv')

In [5]:
# Append df_train and df_test. Save as combined_df
# combined_df = pd.concat([df_train, df_test])

In [6]:
# combined_df

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,3.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0
30486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
30487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,2.0,0.0,1.0,0.0,1.0,0.0,2.0
30488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,4.0,6.0,0.0,1.0,1.0,1.0,0.0
30489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2.0,0.0,5.0,4.0,0.0,2.0,2.0,5.0,1.0

In [3]:
df_train_new = df_train.drop(['id', 'dept_id', 'cat_id', 'state_id'], axis=1)

In [4]:
df_train_new

,item_id,store_id,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,...,d_1532,d_1533,d_1534,d_1535,d_1536,d_1537,d_1538,d_1539,d_1540,d_1541
0,HOBBIES_1_001,CA_1,0,0,0,0,0,0,0,0,...,1,1,1,0,1,0,1,0,0,1
1,HOBBIES_1_002,CA_1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,HOBBIES_1_003,CA_1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,HOBBIES_1_004,CA_1,0,0,0,0,0,0,0,0,...,8,2,0,8,2,3,1,1,3,8
4,HOBBIES_1_005,CA_1,0,0,0,0,0,0,0,0,...,2,0,1,3,2,1,1,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823,WI_3,0,0,2,2,0,3,1,4,...,1,2,0,0,0,1,0,0,0,2
30486,FOODS_3_824,WI_3,0,0,0,0,0,5,0,1,...,0,0,0,0,0,0,12,0,0,0
30487,FOODS_3_825,WI_3,0,6,0,2,2,4,1,8,...,1,0,3,2,1,1,0,1,3,0
30488,FOODS_3_826,WI_3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30489,FOODS_3_827,WI_3,0,0,0,0,0,0,0,0,...,2,2,4,3,0,3,0,4,0,3

In [4]:
# Define columns to keep as identifiers (id variables)
id_vars = ['item_id', 'store_id']

In [5]:
# Use the melt function to unpivot the data
melted_df = pd.melt(df_train_new, id_vars=id_vars, var_name='d', value_name='sales_qty')

In [6]:
# Load the calendar.csv and save as df_calendar
df_calendar = pd.read_csv('../data/raw/calendar.csv')
df_calendar

            date  wm_yr_wk       d
0     2011-01-29     11101     d_1
1     2011-01-30     11101     d_2
2     2011-01-31     11101     d_3
3     2011-02-01     11101     d_4
4     2011-02-02     11101     d_5
...          ...       ...     ...
1964  2016-06-15     11620  d_1965
1965  2016-06-16     11620  d_1966
1966  2016-06-17     11620  d_1967
1967  2016-06-18     11621  d_1968
1968  2016-06-19     11621  d_1969

[1969 rows x 3 columns]

In [7]:
# Perform join between melted_df and df_calendar on the common column 'd'
merged_df_calendar = pd.merge(melted_df, df_calendar, on='d', how='left')
merged_df_calendar

                item_id store_id       d  sales_qty        date  wm_yr_wk
0         HOBBIES_1_001     CA_1     d_1          0  2011-01-29     11101
1         HOBBIES_1_002     CA_1     d_1          0  2011-01-29     11101
2         HOBBIES_1_003     CA_1     d_1          0  2011-01-29     11101
3         HOBBIES_1_004     CA_1     d_1          0  2011-01-29     11101
4         HOBBIES_1_005     CA_1     d_1          0  2011-01-29     11101
...                 ...      ...     ...        ...         ...       ...
46985085    FOODS_3_823     WI_3  d_1541          2  2015-04-18     11512
46985086    FOODS_3_824     WI_3  d_1541          0  2015-04-18     11512
46985087    FOODS_3_825     WI_3  d_1541          0  2015-04-18     11512
46985088    FOODS_3_826     WI_3  d_1541          0  2015-04-18     11512
46985089    FOODS_3_827     WI_3  d_1541          3  2015-04-18     11512

[46985090 rows x 6 columns]

In [10]:
# Load the calendar_events.csv and save as df_event
# df_event = pd.read_csv('../data/raw/calendar_events.csv')
# df_event

           date      event_name event_type
0    2011-02-06       SuperBowl   Sporting
1    2011-02-14   ValentinesDay   Cultural
2    2011-02-21   PresidentsDay   National
3    2011-03-09       LentStart  Religious
4    2011-03-16       LentWeek2  Religious
..          ...             ...        ...
162  2016-05-30     MemorialDay   National
163  2016-06-02  NBAFinalsStart   Sporting
164  2016-06-07  Ramadan starts  Religious
165  2016-06-19    Father's day   Cultural
166  2016-06-19    NBAFinalsEnd   Sporting

[167 rows x 3 columns]

In [11]:
# Perform join between merged_df_calendar and df_event on the common column 'date'
# merged_df_event = pd.merge(merged_df_calendar, df_event, on='date', how='left')
# merged_df_event

,item_id,store_id,d,sales_qty,date,wm_yr_wk,event_name,event_type
0,HOBBIES_1_001,CA_1,d_1,0,2011-01-29,11101,NaN,NaN
1,HOBBIES_1_002,CA_1,d_1,0,2011-01-29,11101,NaN,NaN
2,HOBBIES_1_003,CA_1,d_1,0,2011-01-29,11101,NaN,NaN
3,HOBBIES_1_004,CA_1,d_1,0,2011-01-29,11101,NaN,NaN
4,HOBBIES_1_005,CA_1,d_1,0,2011-01-29,11101,NaN,NaN
...,...,...,...,...,...,...,...,...
47107045,FOODS_3_823,WI_3,d_1541,2,2015-04-18,11512,NaN,NaN
47107046,FOODS_3_824,WI_3,d_1541,0,2015-04-18,11512,NaN,NaN
47107047,FOODS_3_825,WI_3,d_1541,0,2015-04-18,11512,NaN,NaN
47107048,FOODS_3_826,WI_3,d_1541,0,2015-04-18,11512,NaN,NaN
47107049,FOODS_3_827,WI_3,d_1541,3,2015-04-18,11512,NaN,NaN

In [8]:
# Load the items_weekly_sell_prices.csv and save as df_price
df_price = pd.read_csv('../data/raw/items_weekly_sell_prices.csv')
df_price

        store_id        item_id  wm_yr_wk  sell_price
0           CA_1  HOBBIES_1_001     11325        9.58
1           CA_1  HOBBIES_1_001     11326        9.58
2           CA_1  HOBBIES_1_001     11327        8.26
3           CA_1  HOBBIES_1_001     11328        8.26
4           CA_1  HOBBIES_1_001     11329        8.26
...          ...            ...       ...         ...
6841116     WI_3    FOODS_3_827     11617        1.00
6841117     WI_3    FOODS_3_827     11618        1.00
6841118     WI_3    FOODS_3_827     11619        1.00
6841119     WI_3    FOODS_3_827     11620        1.00
6841120     WI_3    FOODS_3_827     11621        1.00

[6841121 rows x 4 columns]

In [9]:
# Perform join between merged_df_event and df_price on the common columns 'store_id', 'item_id', 'wm_yr_wk'
merged_df_price = pd.merge(merged_df_calendar, df_price, on=['store_id', 'item_id', 'wm_yr_wk'], how='left')
merged_df_price

,item_id,store_id,d,sales_qty,date,wm_yr_wk,sell_price
0,HOBBIES_1_001,CA_1,d_1,0,2011-01-29,11101,NaN
1,HOBBIES_1_002,CA_1,d_1,0,2011-01-29,11101,NaN
2,HOBBIES_1_003,CA_1,d_1,0,2011-01-29,11101,NaN
3,HOBBIES_1_004,CA_1,d_1,0,2011-01-29,11101,NaN
4,HOBBIES_1_005,CA_1,d_1,0,2011-01-29,11101,NaN
...,...,...,...,...,...,...,...
46985085,FOODS_3_823,WI_3,d_1541,2,2015-04-18,11512,2.88
46985086,FOODS_3_824,WI_3,d_1541,0,2015-04-18,11512,2.00
46985087,FOODS_3_825,WI_3,d_1541,0,2015-04-18,11512,3.98
46985088,FOODS_3_826,WI_3,d_1541,0,2015-04-18,11512,1.28
46985089,FOODS_3_827,WI_3,d_1541,3,2015-04-18,11512,1.00

In [11]:
merged_df_price.describe()

          sales_qty      wm_yr_wk    sell_price
count  4.698509e+07  4.698509e+07  3.472069e+07
mean   1.086717e+00  1.128847e+04  4.383804e+00
std    3.933200e+00  1.207269e+02  3.358138e+00
min    0.000000e+00  1.110100e+04  1.000000e-02
25%    0.000000e+00  1.120400e+04  2.080000e+00
50%    0.000000e+00  1.130700e+04  3.440000e+00
75%    1.000000e+00  1.140900e+04  5.840000e+00
max    7.630000e+02  1.151200e+04  1.073200e+02

In [12]:
merged_df_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46985090 entries, 0 to 46985089
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   item_id     object
 1   store_id    object
 2   d           object
 3   sales_qty   int64
 4   date        object
 5   wm_yr_wk    int64
 6   sell_price  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 2.5+ GB

In [13]:
merged_df_price.isna().sum()

item_id              0
store_id             0
d                    0
sales_qty            0
date                 0
wm_yr_wk             0
sell_price    12264399
dtype: int64

# 2. Data Preprocessing

In [10]:
df_clean = merged_df_price.copy()

In [17]:
# merged_df_clean['event_name'] = merged_df_clean['event_name'].replace(np.nan, 'Not_Applicable', regex=True)

In [19]:
# merged_df_clean['event_type'] = merged_df_clean['event_type'].replace(np.nan, 'Not_Applicable', regex=True)

In [11]:
df_clean['sell_price'] = df_clean['sell_price'].replace(np.nan, 0, regex=True)

In [45]:
df_clean.isna().sum()

item_id       0
store_id      0
d             0
sales_qty     0
date          0
wm_yr_wk      0
sell_price    0
dtype: int64

In [12]:
# Create a column named sales_revenue
df_clean['sales_revenue'] = df_clean['sales_qty'] * df_clean['sell_price']

In [13]:
df_clean = df_clean.drop(['d', 'wm_yr_wk', 'sales_qty', 'sell_price'], axis=1)
df_clean.head()

         item_id store_id        date  sales_revenue
0  HOBBIES_1_001     CA_1  2011-01-29            0.0
1  HOBBIES_1_002     CA_1  2011-01-29            0.0
2  HOBBIES_1_003     CA_1  2011-01-29            0.0
3  HOBBIES_1_004     CA_1  2011-01-29            0.0
4  HOBBIES_1_005     CA_1  2011-01-29            0.0

In [14]:
# Convert the 'date' column to a datetime type
df_clean['date'] = pd.to_datetime(df_clean['date'])
df_clean.head()

         item_id store_id       date  sales_revenue
0  HOBBIES_1_001     CA_1 2011-01-29            0.0
1  HOBBIES_1_002     CA_1 2011-01-29            0.0
2  HOBBIES_1_003     CA_1 2011-01-29            0.0
3  HOBBIES_1_004     CA_1 2011-01-29            0.0
4  HOBBIES_1_005     CA_1 2011-01-29            0.0

In [15]:
import datetime as dt

In [16]:
df_clean['year'] = df_clean['date'].dt.year
df_clean['quarter'] = df_clean['date'].dt.quarter
df_clean['month'] = df_clean['date'].dt.month
df_clean['day_of_week'] = df_clean['date'].dt.dayofweek  # 0=Monday, 1=Tuesday, ..., 6=Sunday

df_clean

,item_id,store_id,date,sales_revenue,year,quarter,month,day_of_week
0,HOBBIES_1_001,CA_1,2011-01-29,0.00,2011,1,1,5
1,HOBBIES_1_002,CA_1,2011-01-29,0.00,2011,1,1,5
2,HOBBIES_1_003,CA_1,2011-01-29,0.00,2011,1,1,5
3,HOBBIES_1_004,CA_1,2011-01-29,0.00,2011,1,1,5
4,HOBBIES_1_005,CA_1,2011-01-29,0.00,2011,1,1,5
...,...,...,...,...,...,...,...,...
46985085,FOODS_3_823,WI_3,2015-04-18,5.76,2015,2,4,5
46985086,FOODS_3_824,WI_3,2015-04-18,0.00,2015,2,4,5
46985087,FOODS_3_825,WI_3,2015-04-18,0.00,2015,2,4,5
46985088,FOODS_3_826,WI_3,2015-04-18,0.00,2015,2,4,5
46985089,FOODS_3_827,WI_3,2015-04-18,3.00,2015,2,4,5

In [17]:
# Set date column to be dataframe index
df_clean.set_index('date')

,item_id,store_id,sales_revenue,year,quarter,month,day_of_week
date,,,,,,,
2011-01-29,HOBBIES_1_001,CA_1,0.00,2011,1,1,5
2011-01-29,HOBBIES_1_002,CA_1,0.00,2011,1,1,5
2011-01-29,HOBBIES_1_003,CA_1,0.00,2011,1,1,5
2011-01-29,HOBBIES_1_004,CA_1,0.00,2011,1,1,5
2011-01-29,HOBBIES_1_005,CA_1,0.00,2011,1,1,5
...,...,...,...,...,...,...,...
2015-04-18,FOODS_3_823,WI_3,5.76,2015,2,4,5
2015-04-18,FOODS_3_824,WI_3,0.00,2015,2,4,5
2015-04-18,FOODS_3_825,WI_3,0.00,2015,2,4,5
2015-04-18,FOODS_3_826,WI_3,0.00,2015,2,4,5
2015-04-18,FOODS_3_827,WI_3,3.00,2015,2,4,5

In [18]:
# Convert the 'date' column to a datetime type
pd.to_datetime(df_clean.index)

DatetimeIndex([          '1970-01-01 00:00:00',
               '1970-01-01 00:00:00.000000001',
               '1970-01-01 00:00:00.000000002',
               '1970-01-01 00:00:00.000000003',
               '1970-01-01 00:00:00.000000004',
               '1970-01-01 00:00:00.000000005',
               '1970-01-01 00:00:00.000000006',
               '1970-01-01 00:00:00.000000007',
               '1970-01-01 00:00:00.000000008',
               '1970-01-01 00:00:00.000000009',
               ...
               '1970-01-01 00:00:00.046985080',
               '1970-01-01 00:00:00.046985081',
               '1970-01-01 00:00:00.046985082',
               '1970-01-01 00:00:00.046985083',
               '1970-01-01 00:00:00.046985084',
               '1970-01-01 00:00:00.046985085',
               '1970-01-01 00:00:00.046985086',
               '1970-01-01 00:00:00.046985087',
               '1970-01-01 00:00:00.046985088',
               '1970-01-01 00:00:00.046985089'],
              dtype='datetime64[ns]', length=46985090, freq=None)

In [43]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (1.3.1)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.26.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (3.2.0)
Requirement already satisfied: scipy>=1.5.0 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.11.3)
Requirement already satisfied: joblib>=1.1.1 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.3.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 23.2.1 is available.
You should consider upgrading via the 'c:\Users\this\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [19]:
# Import LabelEncoder from sklearn.preprocessing
from sklearn.preprocessing import LabelEncoder

In [20]:
# Instantiate the LabelEncoder and save as le
le = LabelEncoder()

In [21]:
# Create two new columns to fit and transform the label encoded columns ('item_id', 'store_id')
df_clean['item_id_le'] = le.fit_transform(df_clean['item_id'])
df_clean['store_id_le'] = le.fit_transform(df_clean['store_id'])

In [22]:
df_clean = df_clean.drop(['item_id', 'store_id'], axis=1)

# 3. Train/ Validation Split

In [23]:
# Split df_clean to training and validation sets with approximately 80:20 ratio
train = df_clean.loc[df_clean['date'] < '14-06-2014']
val = df_clean.loc[df_clean['date'] >= '14-06-2014']

In [26]:
# Create a list called features, including following columns: 'item_id', 'store_id', 'year', 'quarter', 'month', 'day_of_week'
features = ['item_id_le', 'store_id_le', 'year', 'quarter', 'month', 'day_of_week']

# Create a list called target, including following columns: 'sales_revenue'
target = ['sales_revenue']

In [27]:
# Save as X_train, y_train, X_val, y_val
X_train = train[features]
y_train = train[target]

X_val = val[features]
y_val = val[target]

# 4. Data scale

In [28]:
from sklearn.preprocessing import StandardScaler

In [29]:
# Instantiate the StandardScaler method and save as a variable called scaler
scaler = StandardScaler()

In [30]:
# Fit the training dataset to the scaler
scaler.fit(X_train)

MemoryError: Unable to allocate 1.68 GiB for an array with shape (37563680, 6) and data type float64

In [ ]:
# Apply the scaler to the training, and validation datasets to replace current values of features
X_train = scaler.transform(X_train)
X_val = scaler.transform(X_val)

# Baseline model

In [30]:
# Create a Pipeline called cat_transformer with one step that contains LabelEncoder
# cat_transformer = Pipeline(
#     steps=[
#         ('label_encoder', LabelEncoder())
#     ]
# )

In [31]:
# Create a Pipeline called num_transformer with one step that contains StandardScaler
# num_transformer = Pipeline(
#     steps=[
#         ('scaler', StandardScaler())
#     ]
# )

In [36]:
# Import ColumnTransformer from sklearn.compose
# from sklearn.compose import ColumnTransformer

In [37]:
# Create a ColumnTransformer called preprocessor containing the following steps
# preprocessor = ColumnTransformer(
#     transformers=[
#         ('num_cols', num_transformer, num_cols),
#         ('cat_cols', cat_transformer, cat_cols),
#     ]
# )

In [39]:
# Create a Pipeline called xgb_pipe that contains 2 steps preprocessor and another that instantiate a XGBRegressor with same parameters as previously
# xgb_pipe = Pipeline(
#     steps=[
#         ('preprocessor', preprocessor),
#         ('xgb', xgb.XGBRegressor())
#     ]
# )

In [41]:
# Fit xgb_pipe with X_train and y_train
xgb_pipe.fit(train, y_train)

MemoryError: Unable to allocate 1.40 GiB for an array with shape (5, 37563680) and data type float64

In [30]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (3.8.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\this\appdata\roaming\python\python39\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (10.0.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\this\appdata\roaming\python\python39\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (4.42.1)
Requirement already satisfied: cycler>=0.10 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (6.1.0)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.26.0)
Requirement already satisfied: zipp>=3.1.0 in c:\users\this\appdata\roaming\python\python39\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.17.0)
Requirement already satisfied: six>=1.5 in c:\users\this\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 23.2.1 is available.
You should consider upgrading via the 'c:\Users\this\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [31]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (1.26.0)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (3.8.0)
Requirement already satisfied: pandas>=0.25 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (2.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\this\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (6.1.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.0.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\this\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.42.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.1.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\this\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: zipp>=3.1.0 in c:\users\this\appdata\roaming\python\python39\site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.1->seaborn) (3.17.0)
Requirement already satisfied: six>=1.5 in c:\users\this\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 23.2.1 is available.
You should consider upgrading via the 'c:\Users\this\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [32]:
# Import matplotlib and seaborn packages for data visualisation
import matplotlib.pyplot as plt
import seaborn as sns