# 1. Data Loading and Joining

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the sales_train.csv and save as df_train
df_train = pd.read_csv('../data/raw/sales_train.csv')

In [3]:
# Drop columns 'id', 'dept_id', 'cat_id', 'state_id' from df_train and save as df_train_new
df_train_new = df_train.drop(['id', 'dept_id', 'cat_id', 'state_id'], axis=1)

In [4]:
# Display df_train_new
df_train_new

,item_id,store_id,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,...,d_1532,d_1533,d_1534,d_1535,d_1536,d_1537,d_1538,d_1539,d_1540,d_1541
0,HOBBIES_1_001,CA_1,0,0,0,0,0,0,0,0,...,1,1,1,0,1,0,1,0,0,1
1,HOBBIES_1_002,CA_1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,HOBBIES_1_003,CA_1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,HOBBIES_1_004,CA_1,0,0,0,0,0,0,0,0,...,8,2,0,8,2,3,1,1,3,8
4,HOBBIES_1_005,CA_1,0,0,0,0,0,0,0,0,...,2,0,1,3,2,1,1,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823,WI_3,0,0,2,2,0,3,1,4,...,1,2,0,0,0,1,0,0,0,2
30486,FOODS_3_824,WI_3,0,0,0,0,0,5,0,1,...,0,0,0,0,0,0,12,0,0,0
30487,FOODS_3_825,WI_3,0,6,0,2,2,4,1,8,...,1,0,3,2,1,1,0,1,3,0
30488,FOODS_3_826,WI_3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30489,FOODS_3_827,WI_3,0,0,0,0,0,0,0,0,...,2,2,4,3,0,3,0,4,0,3

In [5]:
# Define columns to keep as identifiers (id variables)
id_vars = ['item_id', 'store_id']

In [6]:
# Use the melt function to unpivot the data
melted_df = pd.melt(df_train_new, id_vars=id_vars, var_name='d', value_name='sales_qty')

In [7]:
# Load the calendar.csv and save as df_calendar
df_calendar = pd.read_csv('../data/raw/calendar.csv')
df_calendar

            date  wm_yr_wk       d
0     2011-01-29     11101     d_1
1     2011-01-30     11101     d_2
2     2011-01-31     11101     d_3
3     2011-02-01     11101     d_4
4     2011-02-02     11101     d_5
...          ...       ...     ...
1964  2016-06-15     11620  d_1965
1965  2016-06-16     11620  d_1966
1966  2016-06-17     11620  d_1967
1967  2016-06-18     11621  d_1968
1968  2016-06-19     11621  d_1969

[1969 rows x 3 columns]

In [8]:
# Perform join between melted_df and df_calendar on the common column 'd'
merged_df_calendar = pd.merge(melted_df, df_calendar, on='d', how='left')
merged_df_calendar

                item_id store_id       d  sales_qty        date  wm_yr_wk
0         HOBBIES_1_001     CA_1     d_1          0  2011-01-29     11101
1         HOBBIES_1_002     CA_1     d_1          0  2011-01-29     11101
2         HOBBIES_1_003     CA_1     d_1          0  2011-01-29     11101
3         HOBBIES_1_004     CA_1     d_1          0  2011-01-29     11101
4         HOBBIES_1_005     CA_1     d_1          0  2011-01-29     11101
...                 ...      ...     ...        ...         ...       ...
46985085    FOODS_3_823     WI_3  d_1541          2  2015-04-18     11512
46985086    FOODS_3_824     WI_3  d_1541          0  2015-04-18     11512
46985087    FOODS_3_825     WI_3  d_1541          0  2015-04-18     11512
46985088    FOODS_3_826     WI_3  d_1541          0  2015-04-18     11512
46985089    FOODS_3_827     WI_3  d_1541          3  2015-04-18     11512

[46985090 rows x 6 columns]

In [9]:
# Load the items_weekly_sell_prices.csv and save as df_price
df_price = pd.read_csv('../data/raw/items_weekly_sell_prices.csv')
df_price

        store_id        item_id  wm_yr_wk  sell_price
0           CA_1  HOBBIES_1_001     11325        9.58
1           CA_1  HOBBIES_1_001     11326        9.58
2           CA_1  HOBBIES_1_001     11327        8.26
3           CA_1  HOBBIES_1_001     11328        8.26
4           CA_1  HOBBIES_1_001     11329        8.26
...          ...            ...       ...         ...
6841116     WI_3    FOODS_3_827     11617        1.00
6841117     WI_3    FOODS_3_827     11618        1.00
6841118     WI_3    FOODS_3_827     11619        1.00
6841119     WI_3    FOODS_3_827     11620        1.00
6841120     WI_3    FOODS_3_827     11621        1.00

[6841121 rows x 4 columns]

In [10]:
# Perform join between merged_df_event and df_price on the common columns 'store_id', 'item_id', 'wm_yr_wk'
merged_df_price = pd.merge(merged_df_calendar, df_price, on=['store_id', 'item_id', 'wm_yr_wk'], how='left')
merged_df_price

MemoryError: Unable to allocate 1.40 GiB for an array with shape (4, 46985090) and data type object

In [ ]:
# Display descriptive statistics of merged_df_price
merged_df_price.describe()

          sales_qty      wm_yr_wk    sell_price
count  4.698509e+07  4.698509e+07  3.472069e+07
mean   1.086717e+00  1.128847e+04  4.383804e+00
std    3.933200e+00  1.207269e+02  3.358138e+00
min    0.000000e+00  1.110100e+04  1.000000e-02
25%    0.000000e+00  1.120400e+04  2.080000e+00
50%    0.000000e+00  1.130700e+04  3.440000e+00
75%    1.000000e+00  1.140900e+04  5.840000e+00
max    7.630000e+02  1.151200e+04  1.073200e+02

In [ ]:
# Display summary information of merged_df_price
merged_df_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46985090 entries, 0 to 46985089
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   item_id     object
 1   store_id    object
 2   d           object
 3   sales_qty   int64
 4   date        object
 5   wm_yr_wk    int64
 6   sell_price  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 2.5+ GB

In [ ]:
# Check if merged_df_price has any missing values
merged_df_price.isna().sum()

item_id              0
store_id             0
d                    0
sales_qty            0
date                 0
wm_yr_wk             0
sell_price    12264399
dtype: int64

In [ ]:
# Save merged_df_price to folder data/processed
pd.DataFrame(merged_df_price).to_csv('../data/processed/combined_data.csv', index=False)

# 2. Data Preprocessing

In [ ]:
# Make a copy of merged_df_price and save as df_clean
df_clean = merged_df_price.copy()

In [ ]:
# Replace NaN values in column 'sell_price' with value 0
df_clean['sell_price'] = df_clean['sell_price'].replace(np.nan, 0, regex=True)

In [ ]:
# Check if there is any missing values
df_clean.isna().sum()

item_id       0
store_id      0
d             0
sales_qty     0
date          0
wm_yr_wk      0
sell_price    0
dtype: int64

In [ ]:
# Create a column named sales_revenue
df_clean['sales_revenue'] = df_clean['sales_qty'] * df_clean['sell_price']

In [ ]:
# Drop 'd', 'wm_yr_wk', 'sales_qty', 'sell_price' in df_clean
df_clean = df_clean.drop(['d', 'wm_yr_wk', 'sales_qty', 'sell_price'], axis=1)
df_clean.head()

         item_id store_id        date  sales_revenue
0  HOBBIES_1_001     CA_1  2011-01-29            0.0
1  HOBBIES_1_002     CA_1  2011-01-29            0.0
2  HOBBIES_1_003     CA_1  2011-01-29            0.0
3  HOBBIES_1_004     CA_1  2011-01-29            0.0
4  HOBBIES_1_005     CA_1  2011-01-29            0.0

In [ ]:
# Downsample df_clean by using every 5th row and save as df_clean_sample
df_clean_sample = df_clean.iloc[::5, :]

In [ ]:
# Display df_clean_sample
df_clean_sample

                item_id store_id        date  sales_revenue
0         HOBBIES_1_001     CA_1  2011-01-29           0.00
5         HOBBIES_1_006     CA_1  2011-01-29           0.00
10        HOBBIES_1_011     CA_1  2011-01-29           0.00
15        HOBBIES_1_016     CA_1  2011-01-29           3.50
20        HOBBIES_1_021     CA_1  2011-01-29           0.00
...                 ...      ...         ...            ...
46985065    FOODS_3_803     WI_3  2015-04-18           0.00
46985070    FOODS_3_808     WI_3  2015-04-18           0.00
46985075    FOODS_3_813     WI_3  2015-04-18           4.50
46985080    FOODS_3_818     WI_3  2015-04-18           0.00
46985085    FOODS_3_823     WI_3  2015-04-18           5.76

[9397018 rows x 4 columns]

In [ ]:
# Set date column to be dataframe index
df_clean_sample.set_index('date')

                  item_id store_id  sales_revenue
date
2011-01-29  HOBBIES_1_001     CA_1           0.00
2011-01-29  HOBBIES_1_006     CA_1           0.00
2011-01-29  HOBBIES_1_011     CA_1           0.00
2011-01-29  HOBBIES_1_016     CA_1           3.50
2011-01-29  HOBBIES_1_021     CA_1           0.00
...                   ...      ...            ...
2015-04-18    FOODS_3_803     WI_3           0.00
2015-04-18    FOODS_3_808     WI_3           0.00
2015-04-18    FOODS_3_813     WI_3           4.50
2015-04-18    FOODS_3_818     WI_3           0.00
2015-04-18    FOODS_3_823     WI_3           5.76

[9397018 rows x 3 columns]

In [ ]:
# Import datetime as dt
import datetime as dt

In [ ]:
# Convert the 'date' column to a datetime type
df_clean_sample['date'] = pd.to_datetime(df_clean_sample['date'])
df_clean_sample.head()

C:\Users\this\AppData\Local\Temp\ipykernel_236\2927541810.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_sample['date'] = pd.to_datetime(df_clean_sample['date'])

          item_id store_id       date  sales_revenue
0   HOBBIES_1_001     CA_1 2011-01-29            0.0
5   HOBBIES_1_006     CA_1 2011-01-29            0.0
10  HOBBIES_1_011     CA_1 2011-01-29            0.0
15  HOBBIES_1_016     CA_1 2011-01-29            3.5
20  HOBBIES_1_021     CA_1 2011-01-29            0.0

In [ ]:
# Create features 'year', 'quarter', 'month', 'day_of_week' from column 'date'
df_clean_sample['year'] = df_clean_sample['date'].dt.year
df_clean_sample['quarter'] = df_clean_sample['date'].dt.quarter
df_clean_sample['month'] = df_clean_sample['date'].dt.month
df_clean_sample['day_of_week'] = df_clean_sample['date'].dt.dayofweek  # 0=Monday, 1=Tuesday, ..., 6=Sunday
df_clean_sample['dayofyear'] = df_clean_sample['date'].dt.dayofyear
df_clean_sample['dayofmonth'] = df_clean_sample['date'].dt.dayofmonth
df_clean_sample['weekofyear'] = df_clean_sample['date'].dt.isocalendar().week

df_clean_sample

C:\Users\this\AppData\Local\Temp\ipykernel_236\3849392143.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_sample['year'] = df_clean_sample['date'].dt.year
C:\Users\this\AppData\Local\Temp\ipykernel_236\3849392143.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_sample['quarter'] = df_clean_sample['date'].dt.quarter
C:\Users\this\AppData\Local\Temp\ipykernel_236\3849392143.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_sample['month'] = df_clean_sample['date'].dt.month
C:\Users\this\AppData\Local\Temp\ipykernel_236\3849392143.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_sample['day_of_week'] = df_clean_sample['date'].dt.dayofweek  # 0=Monday, 1=Tuesday, ..., 6=Sunday
C:\Users\this\AppData\Local\Temp\ipykernel_236\3849392143.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_sample['weekofyear'] = df_clean_sample['date'].dt.isocalendar().week
C:\Users\this\AppData\Local\Temp\ipykernel_236\3849392143.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_sample['dayofyear'] = df_clean_sample['date'].dt.dayofyear
C:\Users\this\AppData\Local\Temp\ipykernel_236\3849392143.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_sample['dayofmonth'] = df_clean_sample['date'].dt.day

,item_id,store_id,date,sales_revenue,year,quarter,month,day_of_week,weekofyear,dayofyear,dayofmonth
0,HOBBIES_1_001,CA_1,2011-01-29,0.00,2011,1,1,5,4,29,29
5,HOBBIES_1_006,CA_1,2011-01-29,0.00,2011,1,1,5,4,29,29
10,HOBBIES_1_011,CA_1,2011-01-29,0.00,2011,1,1,5,4,29,29
15,HOBBIES_1_016,CA_1,2011-01-29,3.50,2011,1,1,5,4,29,29
20,HOBBIES_1_021,CA_1,2011-01-29,0.00,2011,1,1,5,4,29,29
...,...,...,...,...,...,...,...,...,...,...,...
46985065,FOODS_3_803,WI_3,2015-04-18,0.00,2015,2,4,5,16,108,18
46985070,FOODS_3_808,WI_3,2015-04-18,0.00,2015,2,4,5,16,108,18
46985075,FOODS_3_813,WI_3,2015-04-18,4.50,2015,2,4,5,16,108,18
46985080,FOODS_3_818,WI_3,2015-04-18,0.00,2015,2,4,5,16,108,18
46985085,FOODS_3_823,WI_3,2015-04-18,5.76,2015,2,4,5,16,108,18

# 3. Train/ Validation Split

In [ ]:
# Import TimeSeriesSplit from sklearn.model_selection 
from sklearn.model_selection import TimeSeriesSplit

In [ ]:
# Initiate TimeSeriesSplit class with n_splits=5
tscv = TimeSeriesSplit(n_splits=5)

In [ ]:
# Split df_clean_sample to train_data and val_data
for train_index, val_index in tscv.split(df_clean_sample):
    train_data = df_clean_sample.iloc[train_index]
    val_data = df_clean_sample.iloc[val_index]

In [ ]:
# Save the target variable of train_data and val_data as y_train and y_val respectively
y_train = train_data['sales_revenue']
y_val = val_data['sales_revenue']

# 4. Baseline model

In [ ]:
# Find the mean value of target variable and save as y_mean
y_mean = train_data['sales_revenue'].mean()

In [ ]:
# Create a numpy array with the same dimensions as for the train_data called y_base filled with this value
y_base = np.full(y_train.shape, y_mean)

In [ ]:
# Import mean_squared_error from sklearn.metrics
from sklearn.metrics import mean_squared_error as mse

In [ ]:
# Print the recall score of this baseline model on the training dataset
print(mse(y_train, y_base, squared=False))

9.097263900281192

# 5. Train and evaluate SGDRegressor model

In [ ]:
# Import Pipeline from sklearn.pipeline, StandardScaler from sklearn.preprocessing, import SGDRegressor from sklearn.linear_model
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import SGDRegressor

In [ ]:
# Create a Pipeline called num_transformer with one step that contains StandardScaler
num_transformer = Pipeline(
    steps=[
        ('scaler', StandardScaler())
    ]
)

In [ ]:
# Create a Pipeline called cat_transformer with one step that contains OneHotEncoder
cat_transformer = Pipeline(
    steps=[
        ('one_hot_encoder', OneHotEncoder())
    ]
)

In [ ]:
# Create a list called num_cols that will contain the list of columns that are numeric type
num_cols = ['year', 'quarter', 'month', 'day_of_week']

In [ ]:
# Create a list called cat_cols that will contain the list of columns that are object type
cat_cols = ['item_id', 'store_id']

In [ ]:
# Import ColumnTransformer from sklearn.compose
from sklearn.compose import ColumnTransformer

In [ ]:
# Create a ColumnTransformer called preprocessor containing the following steps
# num_transformer for num_cols
# cat_transformer for cat_cols

preprocessor = ColumnTransformer(
    transformers=[
        ('num_cols', num_transformer, num_cols),
        ('cat_cols', cat_transformer, cat_cols)
    ]
)

In [ ]:
# Create a Pipeline called sgd_pipe that contains 2 steps preprocessor and another that instantiate a SGDClassifier with same parameters as previously
sgd_pipe = Pipeline(
    steps=[
        ('preprocessor', preprocessor),
        ('sgd', SGDRegressor())
    ]
)

In [ ]:
# Fit sgd_pipe with train_data
sgd_pipe.fit(train_data, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num_cols',
                                                  Pipeline(steps=[('scaler',
                                                                   StandardScaler())]),
                                                  ['year', 'quarter', 'month',
                                                   'day_of_week']),
                                                 ('cat_cols',
                                                  Pipeline(steps=[('one_hot_encoder',
                                                                   OneHotEncoder())]),
                                                  ['item_id', 'store_id'])])),
                ('sgd', SGDRegressor())])

In [ ]:
# Make predictions on train_data and save as y_train_preds
y_train_preds = sgd_pipe.predict(train_data)

In [ ]:
# Make predictions on val_data and save as y_val_preds
y_val_preds = sgd_pipe.predict(val_data)

In [ ]:
# Display the RMSE score on the training set
print(mse(y_train, y_train_preds, squared=False))

7.4171546953720995

In [ ]:
# Display the RMSE score on the testing set
print(mse(y_val, y_val_preds, squared=False))

8.686069254632764

# 5. Train and evaluate XGBoost model

In [ ]:
# Import xgb as xgb
import xgboost as xgb

In [ ]:
# Create a Pipeline called xgb_pipe that contains 2 steps preprocessor and another that instantiate a XGBRegressor with same parameters as previously
xgb_pipe = Pipeline(
    steps=[
        ('preprocessor', preprocessor),
        ('xgb', xgb.XGBRegressor())
    ]
)

In [ ]:
# Fit rf_pipe with train_data
xgb_pipe.fit(train_data, y_train)

c:\Users\this\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\data.py:520: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(data):

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num_cols',
                                                  Pipeline(steps=[('scaler',
                                                                   StandardScaler())]),
                                                  ['year', 'quarter', 'month',
                                                   'day_of_week']),
                                                 ('cat_cols',
                                                  Pipeline(steps=[('one_hot_encoder',
                                                                   OneHotEncoder())]),
                                                  ['item_id', 'store_id'])])),
                ('xgb',
                 XGBRegressor(base_score=None, booster=None, callbacks=None,
                              colsample_bylevel=None, colsam...
                              feature_types=None, gamma=None, grow_policy=None,
                              importance_type=None,
                              interaction_constraints=None, learning_rate=None,
                              max_bin=None, max_cat_threshold=None,
                              max_cat_to_onehot=None, max_delta_step=None,
                              max_depth=None, max_leaves=None,
                              min_child_weight=None, missing=nan,
                              monotone_constraints=None, multi_strategy=None,
                              n_estimators=None, n_jobs=None,
                              num_parallel_tree=None, random_state=None, ...))])

In [ ]:
# Make predictions on train_data and save as y_train_preds
y_train_preds = xgb_pipe.predict(train_data)

In [ ]:
# Make predictions on val_data and save as y_val_preds
y_val = val_data['sales_revenue']
y_val_preds = xgb_pipe.predict(val_data)

In [ ]:
# Display the RMSE score on the training set
print(mse(y_train, y_train_preds, squared=False))

6.736156035303601

In [ ]:
# Display the RMSE score on the testing set
print(mse(y_val, y_val_preds, squared=False))

8.202072750391538

In [ ]:
# Import dump from joblib package and save sgd_pipe into models folder
from joblib import dump

dump(sgd_pipe,  '../models/predicting/sgd_pipeline.joblib')

['../models/predicting/sgd_pipeline.joblib']